@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: url('https://images.unsplash.com/photo-1543353071-873f17a7a088?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhlYWx0aHklMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  min-height: 100vh;
 
}
h1 {
  font-family: 'Gloria Hallelujah', cursive;
}
input {
  display: block;
  width: 100%;
  border: none;
  color: white;
  font-size: 20px;
  background: #313133;
  padding: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom: 20px;
}



